*{
    margin:0;
    padding: 0;
}
.container{
    width:100vw;
    height:90vh;
    /* margin-top: 50px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:30vw;
}
.list{
    list-style: none;
    display:flex;
    flex-direction: row;
    gap: 30px;
    margin:30px;
}
header{
    /* background-image: url(1st\ bg.jpg); */
    /* margin:0% !important; */
    /* width:1920px; 
    height:720px; */
    width: 100vw;
    height: 90vh;
    /* border:100vw; */
    /* background-image:url(A_black_image.jpg); */
    /* box-sizing: border-box; */
    background-color: black;
    overflow: scroll;
    overflow-x:hidden;
    /* background-size: cover; */
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    /* width:102.4px;
    height: 57.4px; */
    width: auto;
    height: 100px;

}
.box{
    color: azure;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#firsth1{
    margin: 20px;
    font-size: 50px;
        font-family:sans-serif }
#firsth3{
    margin: 20px;
    font-family: sans-serif;
}
p{
    margin: 20px;
    font-family: sans-serif;
}
#signinid{
    background-color: rgb(237, 18, 18);
    border-radius: 4.5px;
    box-sizing: border-box !important;
    border:none;
    padding: 8px 20px;
    color: azure;
    font-family: sans-serif;
}
#languageid{
    width: auto;
    font-size: 13.5px;
    /* padding-right: 3px; */
    background-color: rgba(43, 41, 41, 0.912);
    border-radius: 4.5px;
    box-sizing: border-box;
    border:none;
    padding: 8px 20px;
    color: azure;
    font-family: sans-serif;
}
#emailbuttonid{
    width:auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:10px;

}
#getstartedid{
    /* height: 100%; */
    background-color: rgba(225, 24, 24, 0.89);
    border-radius: 4.5px;
    padding: 10px 26px;
    color: azure;
    border:1px solid black;
    box-shadow: none;
    text-shadow: none;
    font-family: sans-serif;
    font-size: 4vh;
}
#email{
    /* height: 100%; */
    background-color: rgba(45, 41, 41, 0.46);
    border-radius: 4.5px;
    color: azure;
    border:1px solid black;
    font-family: sans-serif;
    padding: 19px 96px;
    box-sizing: border-box;
    border-color: rgb(68, 68, 68);
}

.firstBody{
   width: 100vw;
   height: 90vh;
   font-family: sans-serif;
   color: azure;
   background-color: black;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
} 
 #leftBox{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#rightBox{
    width:50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#secondh1{
    font-size: 50px;
    margin-left:20%;
    margin-right: auto;
}
#secondh2{
    margin-left: 20%;
    margin-right: auto;
}

#tvid{
    /* width: 680px;
    height: 480px;
    margin: 40px;  */
    width:auto;
    height:auto;
    margin-right: 20%;
}
.secondBody{
    width: 100vw;
    height: 90vh;
    font-family: sans-serif;
    color: azure;
    background-color: black;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#leftbox2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#rightBox2{
    width: 50%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#thirdh1{
    font-size: 50px;
    margin-right: 20%;
}
#thirdh2{
    margin-right: 20%;
}
#mobileid{
    /* height:100%;
    width: 80%; */
    width: auto;
    height: auto;
    margin-left: 20%;
}

.thirdBody{
    width:100vw;
    height:90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    color:azure;
    font-family: sans-serif;
    box-sizing: border-box;
}
#leftBox3{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#fourthh1{
    font-size: 50px;
    margin-left: 20%;
    margin-right: auto;
}
#fourthh2{
    margin-left: 20%;
}
#rightBox3{
    width: 50%;
    height:100%;
    display:flex;
    justify-content: start;
    align-items: center;

}
#devicesid{
    height:auto;
    width: auto;
}

.fourthBody{
    width:100vw;
    height:90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:azure;
    background-color: black;
    font-family: sans-serif;
}
#leftBox5{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#rightBox5{
    width: 50%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#fifthh1{
    font-size: 50px;
    margin-right: auto;

}
#fifthh2{
    margin-right: 20%;

}
#childrenid{
    width: auto;
    height: auto;
    margin-left: 20%;
}

.fifthBody{
    width:100vw;
    height:120vh;
    font-family: sans-serif;
    color: azure;
    background-color: black;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
#sixthh1{
    font-size: 50px;
}
#ullistid{
    list-style: none;
    /* display:flex;
    justify-content: space-between;
    align-items: center; */
}
#q1{
    width: 75vw;
    height: 12vh;
    background-color:rgb(46, 44, 44);
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 3.5vh;
}
#q2{
    width: 75vw;
    height: 12vh;
    background-color:rgb(46, 44, 44);
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 3.5vh;
}
#q3{
    width: 75vw;
    height: 12vh;
    background-color:rgb(46, 44, 44);
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 3.5vh;
}
#q4{
    width: 75vw;
    height: 12vh;
    background-color:rgb(46, 44, 44);
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 3.5vh;
}
#q5{
    width: 75vw;
    height: 12vh;
    background-color:rgb(46, 44, 44);
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 3.5vh;
}
#q6{
    width: 75vw;
    height: 12vh;
    background-color:rgb(46, 44, 44);
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 3.5vh;
}
#fifthh3{
    margin-top: 40px;
}
#sixthh1{
    margin-top: 5vh;
}

.container{
    width:100vw;
    height:auto;
    background-color: black;
}

.footer{
    width:75vw;
    height:60vh;
    color: rgb(56, 56, 56);
    display: flex;
    margin-top: 10vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    list-style-type: none;
    font-family: sans-serif;
}
#list1{
    height:30vh;
    list-style: none;
    color:rgb(77, 74, 74);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#list2{
    height:20vh;
    list-style: none;
    color:rgb(77, 74, 74);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#list3{
    height:20vh;
    list-style: none;
    color:rgb(77, 74, 74);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#list4{
    height:10vh;
    list-style: none;
    color:rgb(77, 74, 74);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a{
    text-decoration: underline;
    color:rgb(77, 74, 74);
}

hr{
    background-color: rgb(53, 51, 51);
    height: 8px;
    border: none;
}